 .firstchart {
   
  width: 500px;
  height: 400px;
  margin: 0 auto;
  padding-top: 15px;
  display: block;
  
}
.logo {
  height: 100px;
}
a {
  color: rgb(17, 74, 97);
}
.title{
  margin-top: 15px;
  color:#4EA5DB;
}

body {
   
  text-align: center;
  
}

#calendar {
  max-width: 700px;
  margin: 0 auto;
}

.response {
  height: 60px;
}

.success {
  background: #cdf3cd;
  padding: 10px 60px;
  border: #c3e6c3 1px solid;
  display: inline-block;
}

h5 {
  color: darkgrey;
  padding: 10px;
}